fastapi==0.115.5
psycopg[binary]==3.2.3
psycopg-pool==3.2.4
uvicorn[standard]==0.32.0
pydantic==2.9.2
python-multipart==0.0.17
boto3==1.35.63
PyMuPDF==1.24.14
pytesseract==0.3.13
Pillow==11.0.0
g4f==8.5.1
fastembed>=0.4.0,<0.7
